<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinzuo.competitive.dao.QualificationDao">


    <select id="selectQualificationList" parameterType="com.xinzuo.competitive.form.PageForm" resultType="com.xinzuo.competitive.pojo.Qualification">

        select *from qualification
        where qualification_id=#{qualificationId}
        <if test="condition!=null and condition!=''">


        </if>
        <if test="selectType==1">

        </if>
        <if test="selectType==2">

        </if>
        <if test="selectType==3">

        </if>
        <if test="selectType==4">

        </if>
    </select>
</mapper>
